@import "tailwindcss";
body {
  font-family: 'General Sans', sans-serif;
}

.bg-hero-image {
  background-image: url('/images/hero.jpg'); /* Corrected path */
  background-size: cover; /* Optional: Adjusts image to cover the entire element */
  background-position: center; /* Optional: Centers the image */
  background-repeat: no-repeat; /* Optional: Prevents image from repeating */
}
.bg-about-image {
  background-image: url('/images/aboutWaImage.jpg'); /* Corrected path */
  background-size: cover; /* Optional: Adjusts image to cover the entire element */
  background-position: center; /* Optional: Centers the image */
  background-repeat: no-repeat; /* Optional: Prevents image from repeating */
}
.bg-quest-image {
  background-image: url('/images/questBackground.jpg'); /* Corrected path */
  background-size: cover; /* Optional: Adjusts image to cover the entire element */
  background-position: center; /* Optional: Centers the image */
  background-repeat: no-repeat; /* Optional: Prevents image from repeating */
}
.bg-ourstory-image {
  background-image: url('/images/ourstory.jpg'); /* Corrected path */
  background-size: cover; /* Optional: Adjusts image to cover the entire element */
  background-position: center; /* Optional: Centers the image */
  background-repeat: no-repeat; /* Optional: Prevents image from repeating */
}

